<div class="botoes">
    <div class="botoes-row">
        <app-botao-limpar></app-botao-limpar>
        <app-botao-limpar-tudo></app-botao-limpar-tudo>
        <app-botao-voltar></app-botao-voltar>
        <app-botao-operador operador="&divide;"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="7"></app-botao-numero>
        <app-botao-numero numero="8"></app-botao-numero>
        <app-botao-numero numero="9"></app-botao-numero>
        <app-botao-operador operador="&times;"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="4"></app-botao-numero>
        <app-botao-numero numero="5"></app-botao-numero>
        <app-botao-numero numero="6"></app-botao-numero>
        <app-botao-operador operador="-"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="1"></app-botao-numero>
        <app-botao-numero numero="2"></app-botao-numero>
        <app-botao-numero numero="3"></app-botao-numero>
        <app-botao-operador operador="+"></app-botao-operador>
    </div>
    <div class="botoes-row last">
        <app-botao-trocar-sinal></app-botao-trocar-sinal>
        <app-botao-numero numero="0"></app-botao-numero>
        <app-botao-numero numero="."></app-botao-numero>
        <app-botao-resultado></app-botao-resultado>
    </div>
</div>