<div class="botoes">
    <div class="botoes-row">
        <app-botao-limpar class="first"></app-botao-limpar>
        <app-botao-limpar-tudo></app-botao-limpar-tudo>
        <app-botao-voltar></app-botao-voltar>
        <app-botao-operador operador="&divide;" class="last"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="7" class="first"></app-botao-numero>
        <app-botao-numero numero="8"></app-botao-numero>
        <app-botao-numero numero="9"></app-botao-numero>
        <app-botao-operador operador="&times;" class="last"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="4" class="first"></app-botao-numero>
        <app-botao-numero numero="5"></app-botao-numero>
        <app-botao-numero numero="6"></app-botao-numero>
        <app-botao-operador operador="-" class="last"></app-botao-operador>
    </div>
    <div class="botoes-row">
        <app-botao-numero numero="1" class="first"></app-botao-numero>
        <app-botao-numero numero="2"></app-botao-numero>
        <app-botao-numero numero="3"></app-botao-numero>
        <app-botao-operador operador="+" class="last"></app-botao-operador>
    </div>
    <div class="botoes-row last">
        <app-botao-trocar-sinal class="first"></app-botao-trocar-sinal>
        <app-botao-numero numero="0"></app-botao-numero>
        <app-botao-numero numero="."></app-botao-numero>
        <app-botao-resultado class="last"></app-botao-resultado>
    </div>
</div>